* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: #F4F7FE;
    min-height: 100vh;
    display: flex;
    justify-content: center; 
}

.container {
    width: 90%;
    max-width: 1160px;
    padding: 40px 0;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
}

.main-content {
    display: flex;
    flex-direction: column; 
    gap: 40px;
}

.questions {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.questions span {
    font-size: clamp(12px, 3vw, 20px);
    font-weight: 300;
    color: #626C7F;
}

.questions strong {
    font-size: clamp(24px, 4vw, 40px);
    color: #313E51;
    font-weight: 600;
    line-height: 1.2;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.btn {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 16px;
    border-radius: 12px;
    border: 3px solid white;
    background-color: #fff;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
    transition: all 0.3s ease;
}

.btn:hover:not(:disabled) {
    border-color: #A729F5;
    transform: translateY(-2px);
}

.btn.selected {
    border-color: #A729F5;
}

.letter-box {
    width: 40px;
    height: 40px;
    background-color: #F4F7FE; 
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #626C7F;
}

.btn span {
    padding-left: 20px;
    font-size: 18px;
    font-weight: 600;
    color: #313E51;
}

.submit-btn {
    background-color: #A729F5;
    color: #fff;
    padding: 20px;
    border-radius: 12px;
    border: none;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    transition: opacity 0.3s;
}

.submit-btn:hover {
    opacity: 0.9;
}

.score-card {
    background: white;
    padding: 40px;
    border-radius: 12px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media (min-width: 992px) {
    .welcome, .quiz-section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 60px;
        align-items: start;
    }
}